@using System.Runtime.InteropServices.ComTypes
@using ContactManager.ViewModels
@using ContactManager.Controllers
@using ContactManager.Model
@model ContactenViewModel



<!DOCTYPE html>
<html>
<head>
    <title>Contact Manager Index</title>
</head>
<body>

@using (Html.BeginForm("Contacten", "Home", FormMethod.Get))
{
    <p>
        Naam: @Html.TextBox("filter")
        <input type="hidden" name="actiefContactId" value="@Model.ActiefContactId"/>
        <input type="submit" value="Zoek"/>

    </p>
}

@using (Html.BeginForm("NieuwForm", "Nieuw", FormMethod.Get))
{
    <button type="button" onclick="location.href = '@Url.Action("NieuwForm", "Nieuw", new {ContactSoort = ContactSoort.Persoon})'">Maak @ContactSoort.Persoon.ToString()</button>
}

@using (Html.BeginForm("NieuwForm", "Nieuw", FormMethod.Get))
{
    <button type="button" onclick="location.href = '@Url.Action("NieuwForm", "Nieuw", new {ContactSoort = ContactSoort.Organisatie})'">Maak @ContactSoort.Organisatie.ToString()</button>
}

<table style="height: 80%">
    <tr>
        <th>Soort</th>
        <th>Naam</th>
        <th>Straat</th>
        <th>Gemeente</th>
        <th>Land</th>
    </tr>

    @foreach (var contact in Model.Contacten)
    {
        <tr>
            <td>@contact.GetType().Name</td>
            <td>@Html.ActionLink(contact.Naam, "Contacten", new {Model.Filter, actiefContactId = contact.Id, actiefContactSoort = contact.GetType().Name})</td>
            <td>@contact.Adres.Straat</td>
            <td>@contact.Adres.Locatie</td>
            <td>@contact.Adres.Land</td>
        </tr>
    }
</table>

<div style="position: absolute; top: 10px; right: 10px">
    Naam: @Model.ActiefContact.Naam<br/>
    Straat: @Model.ActiefContact.Adres.Straat<br/>
    Gemeente: @Model.ActiefContact.Adres.Locatie<br/>
    Telefoon nummers: <br/>

    @foreach (var telefoon in Model.ActiefContact.Telefoons)
    {
        @telefoon.Naam
        <text>: </text>
        @telefoon.Nummer
        <br/>
    }

    @if (Model.ActiefContact.GetType().Name == "Persoon")
    {
        <text>Geboortedatum:</text>
        var persoon = (Persoon) Model.ActiefContact;
        if (persoon.GeboorteDatum != null)
        {
            @persoon.GeboorteDatum.Value.ToString("dd-MM-yyyy")
        }
        ;
        <br/>
        <text>Foto:</text>
        <img src="@persoon.Mugshot"/>
    }
    else
    {
        <text>Contactpersoon:</text>
        var organisatieAlsContact = Model.ActiefContact;
        if (organisatieAlsContact != null && organisatieAlsContact.Id != 0)
        {
            var organisatie = (Organisatie) organisatieAlsContact;
            if (organisatie.ContactPersoon != null)
            {
                @Html.ActionLink(organisatie.ContactPersoon.Naam, "Contacten", new {Model.Filter, actiefContactId = organisatie.ContactPersoon.Id, actiefContactSoort = organisatie.ContactPersoon.GetType().Name})
            }
        }
    }
</div>


</body>
</html>