@using System.Runtime.InteropServices.ComTypes
@using ContactManager.ViewModels
@using ContactManager.Controllers
@using ContactManager.Model
@model ContactenViewModel

@{
    Layout = "_Layout";
}



@using (Html.BeginForm(nameof(HomeController.Contacten), "Home", FormMethod.Get))
{
    <p>
        Naam: @Html.TextBox("filter")
        <input type="hidden" name="actiefContactId" value="@Model.ActiefContactId"/>
        <input type="submit" value="Zoek"/>

    </p>
}

@using (Html.BeginForm(nameof(NieuwController.ContactForm), "Nieuw", FormMethod.Get))
{
    <button type="button" onclick="location.href = '@Url.Action(nameof(NieuwController.ContactForm), "Nieuw", new {contactSoort = ContactSoort.Persoon, bestaalAl = false})'">Maak @ContactSoort.Persoon.ToString()</button>
}

@using (Html.BeginForm(nameof(NieuwController.ContactForm), "Nieuw", FormMethod.Get))
{
    <button type="button" onclick="location.href = '@Url.Action(nameof(NieuwController.ContactForm), "Nieuw", new {contactSoort = ContactSoort.Organisatie, bestaalAl = false })'">Maak @ContactSoort.Organisatie.ToString()</button>
}

<table style="height: 80%">
    <tr>
        <th>Soort</th>
        <th>Naam</th>
        <th>Straat</th>
        <th>Gemeente</th>
        <th>Land</th>
    </tr>

    @foreach (var contact in Model.Contacten)
    {
        <tr>
            <td>@contact.GetType().Name</td>
            <td>@Html.ActionLink(contact.Naam, "Contacten", new {Model.Filter, actiefContactId = contact.Id, actiefContactSoort = contact.GeefContactSoort()})</td>
            <td>@contact.Adres.Straat</td>
            <td>@contact.Adres.Locatie</td>
            <td>@contact.Adres.Land</td>
        </tr>
    }
</table>

@if (Model.ActiefContactId != 0)
{
    <div style="position: absolute; top: 10px; right: 10px">
        Naam: @Model.ActiefContact.Naam<br/>
        Straat: @Model.ActiefContact.Adres.Straat<br/>
        Gemeente: @Model.ActiefContact.Adres.Locatie<br/>
        Telefoon nummers: <br/>

        @foreach (var telefoon in Model.ActiefContact.Telefoons)
        {
            @telefoon.Naam
            <text>: </text>
            @telefoon.Nummer
            <br/>
        }

        @if (Model.ActiefContact.GetType().Name == "Persoon")
        {
            <text>Geboortedatum:</text>
            var persoon = (Persoon) Model.ActiefContact;
            if (persoon.GeboorteDatum != null)
            {
                @persoon.GeboorteDatum.Value.ToString("dd-MM-yyyy")
            }
            ;
            <br/>
            <text>Foto:</text>
            <img src="@persoon.Mugshot"/>
        }
        else
        {
            <text>Contactpersoon:</text>
            var organisatieAlsContact = Model.ActiefContact;
            if (organisatieAlsContact != null && organisatieAlsContact.Id != 0)
            {
                var organisatie = (Organisatie) organisatieAlsContact;
                if (organisatie.ContactPersoon != null)
                {
                    @Html.ActionLink(organisatie.ContactPersoon.Naam, "Contacten", new {Model.Filter, actiefContactId = organisatie.ContactPersoon.Id, actiefContactSoort = organisatie.ContactPersoon.GeefContactSoort()})
                }
            }
        }
    
        @using (Html.BeginForm(nameof(NieuwController.ContactForm), "Nieuw", FormMethod.Get))
        {
            Persoon InputPersoon = null;
            Organisatie InputOrganisatie = null;
            if (Model.ActiefContact.GetType() == typeof(Persoon))
            {
                InputPersoon = (Persoon)Model.ActiefContact;
            }
            else if (Model.ActiefContact.GetType() == typeof(Organisatie))
            {
                InputOrganisatie = (Organisatie) Model.ActiefContact;
            }


            <button type="button" onclick="location.href = '@Url.Action(nameof(NieuwController.ContactForm), "Nieuw", new {contactSoort = Model.ActiefContact.GeefContactSoort(), contactId = Model.ActiefContactId, bestaalAl = false})'">Wijzig info</button>
        }
    

    </div> 
}

