@using System.Runtime.InteropServices.ComTypes
@using ContactManager.ViewModels
@using ContactManager.Controllers
@using ContactManager.Model
@model NieuwViewModel

<!DOCTYPE html>
<html>
<head>
    <title>Nieuwe @Model.Contact.GetType().Name</title>
</head>
<body>
<h1>Nieuwe @Model.Contact.GetType().Name</h1>
@using (Html.BeginForm("Nieuw", "Home", FormMethod.Get))
{
    <p>
        <input type="hidden" name="contactType" value="@Model.Contact.GetType()" />

        @Html.LabelFor(m => m.Contact.Naam)
        @Html.EditorFor(m => m.Contact.Naam)
        <br/>

        @Html.LabelFor(m => m.Contact.Adres.Straat)
        @Html.EditorFor(m => m.Contact.Adres.Straat)
        <br/>

        @Html.Label("Gemeente")
        @Html.EditorFor(m => m.Contact.Adres.Locatie)
        <br/>

        @Html.LabelFor(m => m.Contact.Adres.Land)
        @Html.EditorFor(m => m.Contact.Adres.Land)
        <br/>
        <input type="submit" value="Bewaar" />
    </p>

}

</body>
</html>