@using System.Runtime.InteropServices.ComTypes
@using ContactManager.ViewModels
@using ContactManager.Model

@model NieuwViewModel

@{
    Layout = "_Layout";
}



@section pageSpecificScripts {
    <script type="text/javascript" src="~/js/FormScripts.js"></script>
    <link rel="stylesheet" href="~/css/ContactForm.css"/>

}
@{
    string formNaam;
    if (Model.BestaatAl == false)
    {
        formNaam = "Nieuwe" + Model.ContactSoort;
    }
    else
    {
        formNaam = "Update" + Model.ContactSoort;
    }


    Contact huidigContact;
    if (Model.Persoon == null && Model.Organisatie != null)
    {
        huidigContact = Model.Organisatie;
    }
    else if (Model.Persoon != null && Model.Organisatie == null)
    {
        huidigContact = Model.Persoon;
    }
    else
    {
        if (Model.ContactSoort == ContactSoort.Organisatie)
        {
            huidigContact = new Organisatie();
        }
        else
        {
            huidigContact = new Persoon();
        }
    }


}


@using (Html.BeginForm(formNaam, "Nieuw", FormMethod.Get, new {name= "contactForm", id = "contactForm" }))
{
    <p>
        
        @{
            var nameVeldVoorId = Model.ContactSoort + ".Id";
        }
        <input type="hidden" name="@nameVeldVoorId" value="@huidigContact.Id"/>

        @{
            var nameVeldVoorNaam = Model.ContactSoort + ".Naam";
        }

        <label>Naam</label><br/>
        <input type="text" name="@nameVeldVoorNaam" value="@huidigContact.Naam"/>
        <br/>

        @{
            var nameVeldVoorStraat = Model.ContactSoort + ".Adres.Straat";
        }


        <label>Straat</label><br />
        <input type="text" name="@nameVeldVoorStraat" value="@huidigContact.Adres.Straat"/>
        <br/>

        @{
            var nameVeldVoorGemeente = Model.ContactSoort + ".Adres.Locatie";
        }

        <label>Gemeente</label><br />
        <input type="text" name="@nameVeldVoorGemeente" value="@huidigContact.Adres.Locatie"/>
        <br/>

        @{
            var nameVeldVoorLand = Model.ContactSoort + ".Adres.Land";
        }

        <label>Land</label><br />
        <input type="text" name="@nameVeldVoorLand" value="@huidigContact.Adres.Land"/>
        <br/>

        <label>Telefoons</label><br />

        <div id="telefoonVelden">
            <span id="spanToInsertAfter"></span>
            

            @foreach (var telefoon in huidigContact.Telefoons)
            {
                <p>
                    <input name="iDs" type="hidden" value="@telefoon.Id"/>
                    Naam:
                    <input name="telefoonsNamen" type="text" value="@telefoon.Naam"/>
                    Nummer:
                    <input name="telefoonNummers" type="text" value="@telefoon.Nummer"/>
                </p>
            }


        </div>
        <button onclick="nieuweTelefoon()" type="button">Nieuwe Telefoon</button><br/>




        @if (Model.ContactSoort == ContactSoort.Persoon)
        {

            <label>Geboorte Datum</label><br />

            var nameVeldVoorGeboorteDatum = Model.ContactSoort + ".GeboorteDatum";

            var geboorteDatum = Model.BestaatAl == true ? (Model.Persoon.GeboorteDatum != null ? Model.Persoon.GeboorteDatum.Value.ToString("MM/dd/yyyy") : "") : "";


            <input type="date" class="datumKiezer" name="@nameVeldVoorGeboorteDatum" value="@geboorteDatum"/>
            <br/>

            var nameVeldVoorFoto = Model.ContactSoort + ".Mugshot";
            var mugShot = Model.BestaatAl == true ? Model.Persoon.Mugshot : "";

            <label>Foto</label><br />
            <input type="text" name="@nameVeldVoorFoto" value="@mugShot"/>
            <br/>
        }



        else
        {
            <label>Contactpersoon</label><br/>
            <text>Zoek een contactpersoon om toe te voegen</text><br/>
            <input type="text" id="zoekveld"/>
            <div id="contactLijst">
                @if (Model.Organisatie.ContactPersoon != null)
                {
                    <p>
                        <input name="contactPersoonId" value="@Model.Organisatie.ContactPersoon.Id" type="radio"/>@Model.Organisatie.ContactPersoon.Naam
                    </p>
                }
            </div>

        }


        <input type="submit" value="Bewaar"/>
    </p>
            }
