@using System.Runtime.InteropServices.ComTypes
@using ContactManager.ViewModels
@using ContactManager.Controllers
@using ContactManager.Model

@model NieuwViewModel

@{
    Layout = "_Layout";
}

@section pageSpecificScripts {
<script type="text/javascript" src="~/js/NieuwContactJavascripts.js"></script>
}


@using (Html.BeginForm("NieuwePersoon", "Nieuw", FormMethod.Get))
{
    <p>
        @*<input type="hidden" name="contactSoort" value="@Model.Persoon.GetType()" />*@

        @Html.LabelFor(m => m.Persoon.Naam)
        @Html.EditorFor(m => m.Persoon.Naam)
        <br/>

        @Html.LabelFor(m => m.Persoon.Adres.Straat)
        @Html.EditorFor(m => m.Persoon.Adres.Straat)
        <br/>

        @Html.Label("Gemeente")
        @Html.EditorFor(m => m.Persoon.Adres.Locatie)
        <br/>

        @Html.LabelFor(m => m.Persoon.Adres.Land)
        @Html.EditorFor(m => m.Persoon.Adres.Land)
        <br/>
         


        <button onclick="nieuweTelefoon()" type="button">Nieuwe Telefoon</button>
        <div id="telefoonVelden"><span id="spanToInsertAfter"></span></div>

        @Html.LabelFor(m => m.Persoon.GeboorteDatum)
        <input class="date" name="GeboorteDatum"/>
        
        <br />

        @Html.LabelFor(m => m.Persoon.Mugshot)
        @Html.EditorFor(m => m.Persoon.Mugshot)
        <br />      



        <input type="submit" value="Bewaar" />
    </p>

}

<script>
    $(document).ready(function() {
        // create DatePicker from input HTML element
        $(".datumKiezer").DatePicker();

    });
</script>
